* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}
/* colors
primary: #2d3250
secondary: #424769
navbar&footer-border: #F99417
card-text& logo: #F99417
search input color:  #7077a1
*/
body {
  width: 100vw;
  min-height: 100vh;
}

.main-box {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #424769;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  height: 100px;
  width: 100%;
  background: #2d3250;
  border-bottom: 2px solid #f99417;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.fa-film {
  color: #fff;
  transform: rotate(45deg);
}
.logo-text {
  font-weight: 900;
  color: #f99417;
}

/* search-box-section */
.search-section {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input-box {
  height: 50px;
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-magnifying-glass {
  height: 34px;
  width: 40px;
  background: #fff;
  color: #424769;
  border-radius: 16px 0 0 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 34px;
  width: 240px;
  padding: 12px 0;
  outline: none;
  border: none;
  color: #2d3250;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.search-input::placeholder {
  color: #7077a1;
}
.remove-input-value-btn-box {
  height: 34px;
  width: 40px;
  background: #fff;
  color: #424769;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
}

.fa-xmark {
  height: 34px;
  width: 40px;
  background: #fff;
  color: #424769;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
}
/* filter-section */
.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter {
  height: 30px;
  width: 30px;
  color: #f99417;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded {
  height: 50px;
  width: 340px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.release-year-select,
.movie-genre-select {
  height: 26px;
  width: 150px;
  outline: #f99417 1px solid;
  border: none;
  color: #2d3250;
  font-weight: bold;
  cursor: pointer;
}

/* grid-box section */
.grid-section {
  min-height: 400px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.loader-box {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424769;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #f99417;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-box {
  border-radius: 5px;
  height: 360px;
  width: 220px;
  padding: 10px;
  margin: 10px 0;
  background: #2d3250;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #f99417 0px 2px 4px;
  cursor: pointer;
}

.card-img-box {
  width: 200px;
  height: 220px;
  object-fit: contain;
}
.card-img {
  width: 200px;
  height: 220px;
  object-fit: contain;
}

.movie-detail-box {
  height: 140px;
  width: 200px;
  color: #f99417;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-header {
  font-size: 0.8rem;
  font-weight: 900;
}
.details {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 300;
}

/* footer */
.footer {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  background: #2d3250;
  border-top: 2px solid #fc6736;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info-box {
  height: 90px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-socials-box {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-brands {
  color: #f99417;
  cursor: pointer;
}

.fa-brands:hover {
  transform: scale(1) translateY(-4px);
  transition: 0.3s;
}

.fa-brands:not(:hover) {
  transition: 0.3s;
}

.footer-text-box {
  color: #f99417;
}
