* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}
/* colors
primary: #2d3250
secondary: #424769
navbar&footer-border: #F99417
card-text& logo: #F99417
search btn hover: #FC6736
search input color:  #7077a1
*/
body {
  width: 100vw;
  min-height: 100vh;
}

.main-box {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #424769;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar {
  height: 100px;
  width: 100%;
  background: #2d3250;
  border-bottom: 2px solid #f99417;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-box {
  height: 50px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.fa-film {
  color: #fff;
  transform: rotate(45deg);
}
.logo-text {
  font-weight: 900;
  color: #f99417;
}

/* search-box-section */
.search-section {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input-box {
  height: 50px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-magnifying-glass {
  height: 34px;
  width: 40px;
  background: #fff;
  color: #424769;
  border-radius: 3px 0 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  height: 34px;
  width: 240px;
  padding: 12px 0;
  outline: none;
  border: none;
  color: #2d3250;
  font-weight: 700;
  letter-spacing: 0.8px;
}
.search-input::placeholder {
  color: #7077a1;
}
.remove-input-value-btn-box {
  height: 34px;
  width: 40px;
  background: #fff;
  color: #424769;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 3px 3px 0;
}

.fa-xmark {
  height: 34px;
  width: 40px;
  background: #fff;
  color: #424769;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
/* filter-section */
.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter {
  height: 30px;
  width: 30px;
  color: #f99417;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded {
  height: 50px;
  width: 320px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.hidden {
  display: none;
}

.release-year-select,
.movie-genre-select {
  height: 28px;
  width: 130px;
  border: none;
  color: #2d3250;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.search-btn-box {
  height: 32px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  height: 28px;
  width: 68px;
  background: #f99417;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.5px;
}
.search-btn:hover {
  background: #f6b17a;
  transition: 0.4s;
}

.search-btn:not(:hover) {
  transition: 0.5s;
}
.search-btn:disabled {
  background: #f6b17a;
}
.search-magnifying-glass {
}
/* grid-box section */
.grid-section {
  min-height: 400px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.loader-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #424769;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #f99417;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.card-box {
  position: relative;
  height: 340px;
  width: 220px;
  padding: 10px;
  margin: 10px 0;
  background: #2d3250;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: #f99417 0px 2px 4px;
  cursor: pointer;
}

.card-img-box {
  width: 200px;
  height: 200px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.magnified-img {
  z-index: 10;
  bottom: -5px;
  position: absolute;
  width: 320px;
  height: 350px;
  object-fit: contain;
}

.magnified-img:hover {
  transition: 0.4s;
}

.magnified-img:not(:hover) {
  transition: 0.4s;
}

.movie-detail-box {
  position: relative;
  height: 140px;
  width: 200px;
  color: #f99417;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details-header {
  font-size: 0.8rem;
  font-weight: 900;
}
.details {
  font-style: italic;
  font-size: 0.8rem;
  font-weight: 300;
}

/* no match found box */
.no-match-found-box {
  min-height: 200px;
  width: 100%;
  color: #f99417;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fa-face-sad-tear {
  margin: 10px 0;
}
.hide-no-match-found-box {
  display: none;
}
/* paginator */
.tail-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pagination-box {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  min-width: 300px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page {
  height: 30px;
  width: 30px;
  margin: 0 4px;
  border-radius: 3px;
  border: 1px solid #f99417;
  background: #2d3250;
  color: #f99417;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page:hover {
  background: #f6b17a;
  border: 1px solid #2d3250;
  color: #2d3250;
  transition: 0.4s;
}

.page:not(:hover) {
  transition: 0.4s;
}

.active-page {
  border: 1px solid #2d3250;
  background: #f99417;
  color: #2d3250;
}

/* footer */
.footer {
  height: 100px;
  width: 100%;
  background: #2d3250;
  border-top: 2px solid #fc6736;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-info-box {
  height: 90px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footer-socials-box {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-brands {
  color: #f99417;
  cursor: pointer;
}

.fa-brands:hover {
  transform: scale(1) translateY(-4px);
  transition: 0.3s;
}

.fa-brands:not(:hover) {
  transition: 0.3s;
}

.footer-text-box {
  color: #f99417;
}

/* error icon */
.connection-error {
  font-size: 4rem;
  margin: 20px 0;
}

/* media queries */

@media (max-width: 1024px) {
  .grid-section {
    width: 75%;
  }
}
@media (max-width: 980px) {
  .grid-section {
    width: 600px;
  }

  .card-box {
    height: 380px;
    width: 260px;
  }

  .card-img-box {
    width: 240px;
    height: 260px;
  }
  .card-img {
    width: 240px;
    height: 260px;
  }
  .magnified-img {
    z-index: 10;
    bottom: -5px;
    position: absolute;
    width: 360px;
    height: 390px;
    object-fit: contain;
  }

  .movie-detail-box {
    padding: 6px;
  }
}
@media (max-width: 760px) {
  .grid-section {
    width: 340px;
  }
}
